body {
    background-color: #242424;
  }
  
  h1 {
    color: #02B875;
    font-size: 70px;
    text-align: center;
  }
  #header {
    color: #02B875;
    text-align: center;
    font-size: 25px;
    }
  #quote {
    color: #FFFFFF;
    text-align: center;
    font-style: italic;
  }
  #tabs {
    color: #02B875;
    text-align: center;
  }
  #homepagetable {
    text-align: center;
    margin: auto;
    width: 98%;
    border: 1px solid;
  }