/*---------- General Page CSS----------*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #242424;
    color: #EBF2EB;
}

/*-------------- Header Section -------------*/

.title{
    text-align: center;
    color: #FFF;
    font-size: 40px;
    margin:30px 20px;
}

.line-break{
    background-color: #02B875;
    padding: 2px 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.header{
    width: 100%;
    padding: 10px 10px 
}
.container{
    padding: 10px 10%;
}
.container-header{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    text-align: center;
    list-style: none;
    padding: 40px 40px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    position: relative;
    
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #02B875;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/*----- End of Header Section ------*/

/*----------------------- Body ---------------------*/
.container{
    padding: 10px 7%;
}
p { 
    font-size: 150%;
    
} 
.about{
    margin: 10px 30px;
    padding: 30px 0px; 
    border-radius: 30px;
    border: 3px solid;
    border-color: black;
    color: #EBF2EB;
    background-color: #464545;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1-pic{
    width: 100%;
    
    border-radius: 15px;
    border: 3px solid;
    border-color: #02B875;
    
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 520%;
    font-weight: 600;
    color: #EBF2EB;
}
.sub-title-body{
    line-height: 1.4;
    margin-top: 8px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 34px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #02B875;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 150%;
}
.tab-contents ul li span{
    color:#02B875 ;
    font-size: 100%;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #02B875;
    padding:  4% 12% ;
    border-radius: 16px;
    text-decoration: none;
    color: #EBF2EB;
    background-color: #242424;
}
.btn:hover{
    background: #02B875;
}
.btn.btn2{
    display: inline-block;
    color: #EBF2EB;
    font-size: 150%;
}

/* Skills Progress Bars */

.container-progressbars{
    padding: 30px 20px;
    margin: 20px 20px;
    margin-bottom: 50px;
}

.container-progressbars p{
    padding-bottom: 15px;
}

.cert-title{
        padding-bottom: 30px;
    }

.container-progress { 
    background-color: rgb(192, 192, 192); 
    width: 80%; 
    border-radius: 15px; 
    margin-bottom: 20px;
} 

.skill { 
    background-color: #02B875; 
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
    border-radius: 15px; 
} 

.comptia { 
    width: 60%; 
} 

.networking { 
    width: 30%; 
} 

.security{
    width: 95%;
}
.python{
    width: 40%;
}
.container-progressbars{
    padding-left: 10%;
    padding-bottom: 10%;
}
.container-skillbars{
    flex-basis: 60%;
}

#certandskills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ----------------- Footer---------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.footer {
  position: relative;
  width: 100%;
  background: #02B875;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 20px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  
  /* Change this to the color I want simple photoshop */
  background: url(../Media/wave_green.png);
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 12s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 12s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* Screen Adjustments */

@media only screen and (max-width: 500px){
    .content-time{
      font-size: 12px;
      padding:8px 10px;
    }

    .category{
      font-size: 12px;
      padding:8px 10px;
    }

    .blog-content a{
      font-size: 12px;
      padding:8px 10px;
    }
    .title{
      font-size: 30px;
      padding-top: 1rem;
    }

    nav ul li{
      padding: 15px 15px;
    }

    nav ul li a{
      font-size: 20px;
    }

    .footer p{
      font-size: 0.8rem
    }

    .about{
        margin: 0px 15px;
        padding: 5px 0px;
    }

    .container{
        padding: 10px 15px;
    }

    .row{
        display: contents;
    }
    .about-col-1{
        flex-basis: 100%;
        
    }

    .sub-title{
        font-size: 40px;
        padding: 10px 0px;
        
    }

    .about-col-2{
        width: 100%;
    }

    .sub-title-body {
        font-size: 18px;
        
    }
    .sub-title-body p{
        color: #02B875;
    }

    .tab-links{
        font-size: 30px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .tab-titles{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0px;
    }

    .tab-contents ul li span{
        font-size: 24px;
    }

    .tab-contents ul li{
        font-size: 20px;
        padding-bottom: 15px;
    }

    .tab-contents.active-tab{
        padding-bottom: 10px;
    }

    .container-progressbars{
        padding-bottom: 90px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .container-progress{
        width: 100%;
    }

    .cert-title{
        padding-bottom: 15px;
    }

    .btn.btn2{
        display:flex;
        justify-content: center;
    }

}