*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #242424;
    color: #EBF2EB;
}
#header{
    width: 100vw;
    background-color: grey;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10x 20x;
}
.logo{ 
    width: 475px;
    margin-left: 180px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
}
nav ul li a{
    color: #242424;
    text-decoration: none;
    font-size: 32px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #02B875;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 12%;
    font-size: 30px;
}
.header-text p{
    margin-left: 10%;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
    margin-left: 10%;
}
.header-text h1 span{
    color: #02B875;
}
/*-------------music-----------------*/
#music{
    background-color: aqua;
}
#playlist_header{
    border: 1px solid greenyellow;
}
#playlist_box{
    padding: 10px;
}


/*--------------Contact--------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    color: #02B875;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #EBF2EB;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #02B875;
    transform: translateY(-5px);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #02B875;
    padding:  14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #EBF2EB;
    transition: background 0.5s;
}
.btn:hover{
    background: #02B875;
}
.btn.btn2{
    display: inline-block;
    color: #EBF2EB;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#FFF;
    font-size: 18px;
    border-radius: 6px;
}




/*-----------------------css for small screens------------*/
nav .fa{
    display: none;
}


@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa{
        display: block;
        font-size: 25px;
    }
    nav ul {
        background:#EBF2EB ;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
}